@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap"); /* TITULOS */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap'); /* PÁRRAFOS */
 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/*-----------------------------------------------*/
/*---------------MENU-------------------------*/
/*-----------------------------------------------*/
#menu{
    display: none;
}

/*-----------------------------------------------*/
/*---------------HEADER-------------------------*/
/*-----------------------------------------------*/

.header__container{
    display: flex;
    height: 500px;
    justify-content: space-around;
    background-color: #999a9b;

    
}
.header__container-video{
    position: relative;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;

}

.header__container-video video{
    min-width: 100%;
}

.container__video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}



/*-----------------------------------------------*/
/*---------------SEARCH-------------------------*/
/*-----------------------------------------------*/


.search-bar__form-container{
    position: relative;
    margin: 90px;
    
}

.search-bar__form-search{
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.search-bar__form-submit{
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Heebo';
}



.search-bar__form-search:hover{
    cursor: pointer;
  
}
.search-bar__form-submit:hover{
    cursor: pointer;
  
}
/*-----------------------------------------------*/
/*---------------NAV-BAR-------------------------*/
/*-----------------------------------------------*/

.nav-bar{
    position: relative;
    margin-top: 80px;
    height: 50px;
    overflow: hidden;
    
}

.nav-bar__list{
    display: flex;
    list-style-type: none;
    
    
}

.nav-bar__items{
    margin: 10px;
    font-size: 1.3em;
    font-weight: bolder;
    font-family: 'Lato';
    
    
}

.nav-bar__icons{
    text-decoration: none;
    color: #beb9b9;
    display: inline-block;
    position: relative;
    
    
}

.nav-bar__icons::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #913c14;
    transform-origin: bottom right;
    transition: transform 0.50s ease-out;
    
 
}
.nav-bar__icons:hover::after{
    transform: scaleX(1);
  transform-origin: bottom left;
}

/*-----------------------------------------------*/
/*---------------LOGO-------------------------*/
/*-----------------------------------------------*/
.header__container-logo{
    position: relative;
}

/*-----------------------------------------------*/
/*---------------HAMBURGUESA-------------------------*/
/*-----------------------------------------------*/

.menu-toggle {
     display: none;
     /* background-color: red; */
     flex: 0 0 3em;
    position: relative;
 
   }
   .menu-toggle__label {
       display: block;
       background-color: black;
       width: 100%;
       height: 50px;
       margin-top: 80px;
    }
    .menu-toggle__label:hover{
        cursor: pointer;
    }
    
    .menu-toggle__pan-arriba,
    .menu-toggle__medallon,
    .menu-toggle__pan-abajo {
     display: block;
     background-color: #333;
     height: 0.2em;
     position: absolute;
     left: 0.5em;
     right: 0.5em;
     margin: 0 auto;
   }
  
   .menu-toggle__pan-arriba {
     margin-top: 0.6em;
   }
   
   .menu-toggle__medallon {
     margin-top: 1.5em;
   }

   .menu-toggle__pan-abajo {
    margin-top: 2.4em;
   }
   
   @media (max-width: 300px) {
    .menu-toggle{
        margin-top: 100px;
      
    }
   }   

   @media (max-width: 400px) {
       .menu-toggle{
           margin-left: 40px;
         
       }
      
    
   }   

   @media (max-width: 700px){
    .icons{
        margin-bottom: 100px;
    }
    
   }

   @media (min-width: 600px) {
        
        .container-header__fig {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

        .menu-toggle__label{
            margin-top: 75px;
        }

   }

   @media (max-width: 1100px) {
    .main-header {
      flex-direction: column-reverse;
    }
  
    .menu-toggle {
      display: block;

    }
  
    .nav-bar {
      display: none;
    }
  
    .nav-bar__nav-list {
      flex-direction: column;
    }
    .search-bar__form-container{
        display: none;
      }
  }
  .section-cards {
    background-color: #f1f2f3;
    padding: 1em;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }

 
  @media (min-width: 1200px) {
    .cards-container {
      gap: 2em;
    }
  }





/*-----------------------------------------------*/
/*---------------CARRITO-------------------------*/
/*-----------------------------------------------*/


.fa-shopping-cart,
.fa-search { 
    position: relative;
    font-size: 2em;
    margin-top: 85px;
    margin-left: 0.2em;
    color: #1b1818;
    padding: 5px;
}

.fa-shopping-cart:hover{ 
    /* .fa-search */
    cursor: pointer;
    color: #272525;
}

/*-----------------------------------------------*/
/*---------------SLOGAN-------------------------*/
/*-----------------------------------------------*/
.img-bgc__connecticus-slogan-p{
    position: relative;
    font-size: 3em;
    font-family: 'Open Sans';
    font-weight: bold;
    flex-wrap: wrap;
    top: 350px;
    margin-left: 1.6em;
    color: #f1f2f3;
    
}

.btn-catalogo{
    position: relative;
    top: 400px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    align-content: center;
    margin: 20px 37em;
    font-family: 'Heebo';
    
}

.btn-catalogo:hover{
    cursor: pointer;
    color: #b3b0b0;
}

@media (max-width: 500px){
    .img-bgc__connecticus-slogan-p{
        font-size: 2em;
        text-align: center;
       
    }
}

/**************************************************************************************/

                                /* MAIN DEL ALTA*/
/***************************************************************************************/

.container-alta{
    text-align: center;
    padding: 20px;
    background-image: url('/img/alta/bgc-alta.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-alta{
    font-size: 3em;
    font-family: 'Heebo';
    padding-top: 10px;
    

}

.label-form{
    font-family: 'lato';
    font-size: 1.6em;
    font-weight: bolder;
}

.label-input-alta{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    /* margin-top: 10px; */
    
}

.input-label-alta{
    width: 300px;
    align-content: center;
    padding: 10px;
}

.div-mensaje{
    border: 1px solid #000;
    background-color: #913c14;
    color: #1b1818;
    font-family: 'Lato';
    font-size: 1em;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    display: none;
}

.btn-add-product{
    padding: 5px;
    width: 200px;
    margin: 20px 0 40px;
    font-size: 1.2em;
    font-family: 'Heebo';
    border-radius: 20px;
    box-shadow: 2px 2px 1px #7e7976;
    
}

.btn-add-product:hover{
    cursor: pointer;
}


#listado-productos{
    height: auto;
    display: block;
}
/*-----------------------------------------------*/
/*---------------FOOTER-------------------------*/
/*-----------------------------------------------*/
.site-footer{
    background-color: #efeae5;
     width: 100%;
     height: auto;
     display: flex;
     justify-content:space-around;
     flex-wrap: wrap;
     background-color: #222222;
   

    
 }
 
  .site-footer__container{
     display: block;
     background-color: #efeae5;
     border: 1px solid black;
 }
 .site-footer__title{
     text-align: center;
     font-size: 1.2em;
     color: #e15a1d;
     padding: 20px 0;
     font-family: 'Lato';
    
 }
 
 
 .site-footer__div-complete{
     display: flex;
     justify-content: center;
     
     
 }
 
 
 .site-footer__form-email{
     padding: 0.3em;
     margin: 1em;
     flex-basis: 30%;
     height: 2.5em;
     border-radius: 10px;
     box-shadow:0 17px 9px -15px rgb(0 0 0 / 50%)
 
 }
 
 .site-footer__form-input{
     height: 2.5em;
     width: 4em;
     align-self: center;
     border-radius: 10px;
     font-family: 'Heebo';
     
     
 }
 
 .site-footer__form-input:hover{
     cursor: pointer;
     color: #b3b0b0;
 }
 
 .site-footer__form-p{
     text-align: center;
     font-size: 1.2em;
     font-family: 'Lato';
     padding: 1em;
 }

 .site-footer__first{
     margin: 30px;
     
 }
 

 .site-footer__first-title,
 .site-footer__second-title,
 .site-footer__third-title,
  .site-footer__fourth-title,
  .site-footer__fifth-title {
     padding: 5px;
     font-family: 'Lato';
 }

 .site-footer__first-list,
 .site-footer__second-list,
 .site-footer__third-list,
 .site-footer__fourth-list,
 .site-footer__fifth-list{
     list-style-type: none;
 }


 .site-footer__first-list:hover,
 .site-footer__second-list:hover,
 .site-footer__third-list:hover,
 .site-footer__fourth-list:hover,
 .site-footer__fifth-list:hover{
     cursor: pointer;
 }



.site-footer__fourth-list,
.site-footer__fifth-list {
    display: flex;
}

.site-footer__first-item,
.site-footer__second-item,
.site-footer__third-item{
    padding: 5px;
    font-size: 18px;
    font-family: 'Lato';
    
    
}
.site-footer__fourth-item,
.site-footer__fifth-item {
    padding: 5px;
    font-size: 1.5em;
}


.site-footer__a{
    font-size: 17px;
    text-decoration: none;
    color: #000;
}

.container-icons__social-media{
    color: #000;
}

.site-footer__a:hover{
    cursor: pointer;
    color: #383636;
}

.container-icons__social-media:hover{
    cursor: pointer;
    color: #383636;
}

.site-footer__fifth-item:hover{
    cursor: pointer;
    color: #383636;
}



